<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="loggingExceptionAdvice"
          class="com.huey.learning.springframework.aop.advice.exception.LoggingExceptionAdvice"/>

    <bean id="targetService" class="com.huey.learning.springframework.aop.advice.HelloServiceImpl"/>

    <bean id="helloService" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:proxyInterfaces="com.huey.learning.springframework.aop.advice.HelloService"
          p:interceptorNames="loggingExceptionAdvice"
          p:target-ref="targetService"/>

</beans>