<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="targetWaiter" class="com.huey.learning.springframework.aop.advisor.Waiter"/>
    <bean id="targetSeller" class="com.huey.learning.springframework.aop.advisor.Seller"/>

    <bean id="greetingAdvice" class="com.huey.learning.springframework.aop.advisor.GreetingAdvice"/>
    <bean id="greetingAdvisor" class="com.huey.learning.springframework.aop.advisor.smmpa.GreetingAdvisor"
          p:advice-ref="greetingAdvice"/>

    <bean id="waiter" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interceptorNames="greetingAdvisor"
          p:proxyTargetClass="true"
          p:target-ref="targetWaiter"/>

    <bean id="seller" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interceptorNames="greetingAdvisor"
          p:proxyTargetClass="true"
          p:target-ref="targetSeller"/>

</beans>