<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--<mappers>-->
        <!--<mapper resource="mybatis/mapper/StudentMapper.xml"/>-->
        <!--&lt;!&ndash;<package name="com.huey.learning.springframework.mybatis.mapper"/>&ndash;&gt;-->
    <!--</mappers>-->

</configuration>