<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="lazyInitBean" class="com.huey.learning.spring.ioc.lazyinit.ExampleBean" lazy-init="true">
        <constructor-arg value="lazy-init"/>
    </bean>

    <bean id="preInitBean" class="com.huey.learning.spring.ioc.lazyinit.ExampleBean">
        <constructor-arg value="pre-init"/>
    </bean>

</beans>